spring:
  datasource:
    #url: jdbc:h2:file:./TestDataBase
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.H2Dialect

server:
  port : 8000

logging:
  level:
    org:
      springframework:
        security: DEBUG

app:
  security:
    jwt:
      secret-key: 448a330a3e6b51970a4f789b9378c05fd2892e05ee05fe1522657503ba235600
      expiration: 86400000 # 1 day 86400000
      refresh-token:
        expiration: 604800000 # 7 days